<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mentor.name %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @mentor.skill %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @mentor.experience %>
</p>

<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>
